# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [2]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [3]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [16]:
#Answer: 1
len(root.getchildren())

1

### How many different types of tags are there within the entire XML file?

In [18]:
# Your code here
tags = []
for element in root.iter():
    tags.append(element.tag)
print(len(set(tags)))

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [17]:
import pandas as pd

In [19]:
#Your code here
tags = {}
for element in root.iter():
    tags[element.tag] = tags.get(element.tag, 0) + 1
df = pd.DataFrame.from_dict(tags, orient='index')
df.columns = ['count']
df = df.sort_values(by='count', ascending=False)
df.head()

          count
row         286
candid      285
candname    285
canclass    285
election    284

## JSON

### Open the same dataset from json

In [22]:
#Your code here
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [23]:
### Your code here
type(data)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [29]:
#Your code here
display(data.keys())
type(data['data'])

dict_keys(['meta', 'data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [28]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [35]:
data['meta']['view']['columns'][11]

{'id': 75768836,
 'name': 'OFFICECD',
 'dataTypeName': 'number',
 'fieldName': 'officecd',
 'position': 5,
 'renderTypeName': 'number',
 'tableColumnId': 1518994,
 'width': 196,
 'cachedContents': {'non_null': 284,
  'average': '4.700704225352113',
  'largest': '5',
  'null': 1,
  'top': [{'item': '5', 'count': 20},
   {'item': '1', 'count': 19},
   {'item': '3', 'count': 18},
   {'item': '4', 'count': 17},
   {'item': '2', 'count': 16}],
  'smallest': '1',
  'sum': '1335'},
 'format': {}}

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [33]:
#Your code here
pd.(data['meta']['view']['columns'])

,cachedContents,dataTypeName,fieldName,flags,format,id,name,position,renderTypeName,tableColumnId,width
0,NaN,meta_data,:sid,[hidden],{},-1,sid,0,meta_data,NaN,NaN
1,NaN,meta_data,:id,[hidden],{},-1,id,0,meta_data,NaN,NaN
2,NaN,meta_data,:position,[hidden],{},-1,position,0,meta_data,NaN,NaN
3,NaN,meta_data,:created_at,[hidden],{},-1,created_at,0,meta_data,NaN,NaN
4,NaN,meta_data,:created_meta,[hidden],{},-1,created_meta,0,meta_data,NaN,NaN
5,NaN,meta_data,:updated_at,[hidden],{},-1,updated_at,0,meta_data,NaN,NaN
6,NaN,meta_data,:updated_meta,[hidden],{},-1,updated_meta,0,meta_data,NaN,NaN
7,NaN,meta_data,:meta,[hidden],{},-1,meta,0,meta_data,NaN,NaN
8,"{'non_null': 284, 'average': '2001', 'largest'...",number,election,NaN,"{'precisionStyle': 'standard', 'noCommas': 'tr...",75768833,ELECTION,2,number,1518991.0,196.0
9,"{'non_null': 285, 'largest': 'YA', 'null': 0, ...",text,candid,NaN,{},75768834,CANDID,3,text,1518992.0,172.0
10,"{'non_null': 285, 'largest': 'Zett, Lori M', '...",text,candname,NaN,{},75768835,CANDNAME,4,text,1518993.0,196.0
11,"{'non_null': 284, 'average': '4.70070422535211...",number,officecd,NaN,{},75768836,OFFICECD,5,number,1518994.0,196.0
12,"{'non_null': 21, 'largest': 'X', 'null': 264, ...",text,officeboro,NaN,{},75768837,OFFICEBORO,6,text,1518995.0,220.0
13,"{'non_null': 245, 'average': '26.3306122448979...",number,officedist,NaN,{},75768838,OFFICEDIST,7,number,1518996.0,220.0
14,"{'non_null': 285, 'largest': 'P', 'null': 0, '...",text,canclass,NaN,{},75768839,CANCLASS,8,text,1518997.0,196.0
15,"{'non_null': 284, 'average': '112243.961267605...",number,primarypay,NaN,{},75768840,PRIMARYPAY,9,number,1518998.0,220.0
16,"{'non_null': 284, 'average': '28753.5739436619...",number,generalpay,NaN,{},75768841,GENERALPAY,10,number,1518999.0,220.0
17,"{'non_null': 284, 'average': '7776.77816901408...",number,runoffpay,NaN,{},75768842,RUNOFFPAY,11,number,1519000.0,208.0
18,"{'non_null': 284, 'average': '148774.313380281...",number,totalpay,NaN,{},75768843,TOTALPAY,12,number,1519001.0,196.0

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!